<% include partials/header.ejs %>

<%
	
	function DecimalToMixedFraction(decimal) {
		var string = "";
		var wholeNumber = "";
		var fraction = "";
		var newFraction;
		console.log(decimal);
		string = decimal.toString();
		var periodEncountered = false;
		for (var i = 0; i < string.length; i++) {
			if (string[i]==".") {
				periodEncountered = true;
			}
			if (!periodEncountered) {
				wholeNumber += string[i];
			} else if (periodEncountered&&string[i]!=".") {
				fraction += string[i];
			}
		}
		if (fraction=="75") {
			newFraction = "3/4"
		} else if (fraction == "5") {
			newFraction = "1/2"
		} else if (fraction == "25") {
			newFraction = "1/4"
		}

		if (wholeNumber=="0") {
			return newFraction;
		} else {
			if (newFraction) {
				return wholeNumber+" "+newFraction;	
			} else {
				return wholeNumber;
			}
		}
		
	}
 %>


<div class="container">
	
	<div class="row">
		<div class="col title-div">
			<h1 class="title"><%= data["title"] %></h1>
		</div>
	</div>

	<div class="row ">
		<div class="col-6">
			<p><img src="<%= data["image"] %>"></p>
		</div>
		<div class="col">
			<ul class="color-white">
				<li>Servings: <%= data["servings"] %></li>
				<li>Ready in: <%= data["readyInMinutes"] %> min</li>
				<li>Health score: <%= data["healthScore"] %>/100</li>
				<li>Spoonacular score: <%= data["spoonacularScore"] %>/100</li>
				
			</ul>
		</div>
	</div>
		
	<div class="row ">
		<div class="col-3">
		<% if (data["extendedIngredients"]) { -%>
		<div class="card">
			<div class="card-header">
				Ingredients
			</div>
			<ul class="list-group list-group-flush ingredients-list">
			<% for (var i = 0; i < data["extendedIngredients"].length; i++) { -%>
				<li class="list-group-item ingredients-list-item" index="<%= i %>"><%= data["extendedIngredients"][i]["name"] %> <%= DecimalToMixedFraction(data["extendedIngredients"][i]["amount"])  %> <%= data["extendedIngredients"][i]["unit"] %>
					<i class="far fa-square checkmark-right ingredient-<%= i %>"></i>
					<i class="fas fa-check-square checkmark-right invisible ingredient-<%= i %>"></i>
				</li>
			<% } -%>
			</ul>
		</div>

		<% } else  if ( data["nutrition"]["ingredients"] ) { %>
		<div class="card">
			<div class="card-header">
				Ingredients
			</div>
			<ul class="list-group list-group-flush">
				<% for (var i = 0; i < data["nutrition"]["ingredients"].length; i++) { -%>
					<li class="list-group-item"><%= data["nutrition"]["ingredients"][i]["name"] %> <%= data["nutrition"]["ingredients"][i]["amount"] %> <%= data["nutrition"]["ingredients"][i]["unit"] %>

					</li>
				<% } -%>
			</ul>
		</div>
		<% } %>
		
				<a href="#">edit</a>
		<form method="POST" action="/recipes/<%= data._id %>?_method=DELETE">
			<button>Delete</button>
		</form>
	</div>
	<div class="col">
		<% if (data["analyzedInstructions"]) { -%>
			<ul class="analyzed-instructions-list">
				<% for (var i = 0; i < data["analyzedInstructions"][0]["steps"].length; i++) { -%>
					<li class="analyzed-instructions-list-item">
						<%= data["analyzedInstructions"][0]["steps"][i]["step"] %>
						<p>Equipment: <%= data["analyzedInstructions"][0]["steps"][i]["equipment"] %></p>
						<p>Ingredients: 
							<%= data["analyzedInstructions"][0]["steps"][i]["ingredients"] %>
							<% for (var j = 0; j < data["analyzedInstructions"][0]["steps"][i]["ingredients"].length; j++) { -%>
									<%= data["analyzedInstructions"][0]["steps"][i]["ingredients"][j]+" " %>
								<% } -%>	
						</p>
					</li>
				<% } -%>
			</ul>
		<% } else if (data["instructions"]) { -%>
			<p><%= data["instructions"] %></p>
		<% } -%>
		
	</div>
	</div>
</div>


<script type="text/javascript">
	$(".analyzed-instructions-list-item").click(function(){
		$(this).toggleClass("checkmarked");
	})
</script>

<script type="text/javascript">
	$(".ingredients-list-item").click(function(){
		$(".ingredient-"+$(this).attr("index")).toggleClass("invisible");
	})
</script>


<% include partials/footer.ejs %>