<% include partials/header.ejs %>

<div class="container section section-thumbnail">
	<div class="jumbotron section-header color-1">
		</div>
	<div class="row color-2" >
		
		<h1><%= data["title"] %></h1>

		<p><img src="<%= data["image"] %>"></p>
		<p>Servings: <%= data["servings"] %></p>
		<p>Ready in: <%= data["readyInMinutes"] %> min</p>
		<p>Health score: <%= data["healthScore"] %>/100</p>
		<p>Price per serving: <%= data["pricePerServing"] %></p>
		<% if (data["extendedIngredients"]) { -%>
			<% for (var i = 0; i < data["extendedIngredients"].length; i++) { -%>
				<p><%= data["extendedIngredients"][i]["name"] %> <%= data["extendedIngredients"][i]["amount"] %> <%= data["extendedIngredients"][i]["unit"] %>
				</p>
			<% } -%>
		<% } else if ( data["ingredients"] ) { -%>
		<ul>
			<% for (var i = 0; i < data["ingredients"].length; i++) { -%>
				<li><%= data["ingredients"][i]["name"] %> <%= data["ingredients"][i]["amount"] %> <%= data["ingredients"][i]["unit"] %>
				</li>
			<% } -%>
		</ul>
		<% } -%>
		
		<% console.log(data) %>

	</div>
</div>


<% include partials/footer.ejs %>