<% include partials/header.ejs %>

<%= data["results"][0]["imageUrls"][0] %>
<%= data["results"][0]["imageUrls"][1] %>




<div class="container section section-thumbnail">
	<div class="jumbotron section-header color-1">
		</div>
	<div class="row color-2" >
		
		<% for (var i = 0; i < data["results"].length; i++) { %>
			<a href="#" class="col-3 thumbnail" image="URL(https://spoonacular.com/recipeImages/<%= data["results"][i]["id"] %>-312x231.jpg)" id="<%= data["results"][i]["id"] %>">
				<h1><%= data["results"][i]["title"] %></h1>
				<p><%= data["results"][i]["readyInMinutes"] %></p>
				<p><%= data["results"][i]["servings"] %></p>
			</a>
		<% } %>

	</div>
</div>

<script type="text/javascript">
	
	var allThumbnails = $(".thumbnail").toArray();

	var width = $(".thumbnail").width();
	$(".thumbnail").css({"height":width+"px"});

	allThumbnails.forEach(function(tn) {
	  var image = $(tn).attr("image");
	  $(tn).css({"background-image": image});
	  $(tn).css({"background-size": "cover"});
	});

</script>

<% include partials/footer.ejs %>

